body {
    user-select: none;
    background-color: rgb(83, 97, 99);
    background-image: linear-gradient(rgb(117, 137, 140), rgb(43, 51, 52));
    color: rgb(221, 221, 221);
    text-shadow: black 0 0 5px;
    margin: 0;
    padding: 0;
}

/* CONTAINER ---------------------------------------------- */
.container {
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}
#container-box {
    display: flex;
    justify-content: center;
}
.small-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
}

/* SCREENS ------------------------------------------------ */
#screen, #inventory-screen, #stats-screen {
    text-align: center;
    margin: auto;
    width: 500px;
    height: 100vh;
    background-color: rgb(62, 71, 72);
    border-left: solid rgb(100, 100, 100) 8px;
    border-right: solid rgb(100, 100, 100) 8px;
    box-shadow: 0 0 8px black, inset 0 0 4px black;
}
#inventory-screen, #stats-screen {
    width: 250px;
    height: 100vh;
    background-color: rgb(62, 71, 72);
}
#inventory-screen {
    margin-left: 0px;
}
#stats-screen {
    margin-right: 0px;
}

/* TYPOGRAPHY --------------------------------------------- */
h1, h3, h4 {
    margin: 0px;
    padding: 10px;
    text-shadow: black 0 0 5px;
}
p {
    padding: 10px 5px;
    margin: 0 50px;

}

/* IMAGES */
img {
    width: 390px;
    border: solid rgb(100, 100, 100) 5px;
    border-radius: 15px;
    box-shadow: black 0 0 8px;
}
/* INPUT -------------------------------------------------- */
input {
    text-align: center;
    width: 390px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(177, 177, 177);
    color: rgb(100, 100, 100);
    font-size: 15px;
    font-weight: bold;
    text-shadow: whitesmoke 0 0 5px;
}

/* BUTTONS ------------------------------------------------ */
button {
    width: 400px;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    color: rgb(177, 177, 177);
    text-shadow: black 0 0 5px;
    border: none;
    box-shadow: black 0 0 5px;
}
button:hover {
    cursor: pointer;
    padding: 7px 17px;
    margin: 1.5px;
    font-size: 17px;
    border-radius: 5px;
    color: rgb(200, 255, 255);
}

/* RADIO BUTTONS ------------------------------------------ */
.custom-radio-button input[type="radio"] {
    display: none;
}
.custom-radio-button {
    display: inline-block;
    width: 400px;
    font-weight: bold;
    font-size: 15px;
    margin: 5px -5px;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    color: rgb(177, 177, 177);
    text-shadow: black 0 0 5px;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: black 0 0 5px;
}
.custom-radio-button:hover {
    cursor: pointer;
    padding: 5px 0px;
    margin: 3.5px -5px;
    font-size: 17px;
    border-radius: 5px;
    color: rgb(200, 255, 255);
}
.custom-radio-button-label.selected {
    border: solid 4px rgb(200, 255, 255);
    background-color: rgb(119, 119, 119);
    color: rgb(200, 255, 255);
    width: 390px;
    padding: 1px 0px;
}